<div class="container">
    <h3>Servicios</h3>
    <table class="table table-striped table-bordered">
        <thead class="bg-danger">
            <tr>
                <th>Cedula</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombres</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of listaPersonas">
                <td>{{persona.cedula}}</td>
                <td>{{persona.apellido_paterno}}</td>
                <td>{{persona.apellido_materno}}</td>
                <td>{{persona.nombres}}</td>
            </tr>
        </tbody>
    </table>
</div>